@charset "UTF-8";
/* For local compilation: 
sass -w ./scss/theme.scss ./root/static/css/theme.css
*/
@use "variables";

@font-face {
    font-family: 'Ubuntu-Mono';
    src: url('/static/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --mono-font: 'Ubuntu-Mono';
    color-scheme: light;
    @include variables.colors();

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
        @include variables.colors-dark();
    }
}

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    body {
        width: 100%;
        height: 100%;

        header {

        }

        main {}

        footer {}
    }
}
